In [5]:
import pandas as pd
import time, datetime
import numpy as np

In [2]:
#导入数据
df_tag = pd.read_csv("./tags.csv")
df_rat = pd.read_csv("./ratings.csv")
df_mov = pd.read_csv("./movies.csv")
df_lin = pd.read_csv("./links.csv")

查看两个数据集df_tag，df_rat的信息

In [3]:
df_tag.head()

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

In [4]:
df_rat.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

1. 一共有多少不同的用户

In [9]:


tag_user = df_tag['userId']
rat_user = df_rat['userId']
total_user = tag_user.append(rat_user)

print('用户数：',len(np.unique(total_user)))

用户数： 162541

In [8]:
total_user.head()

0    3
1    3
2    4
3    4
4    4
Name: userId, dtype: int64

2. 一共有多少不同的电影

In [13]:
df_mov.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [12]:
mov_num = df_mov['movieId']
print("电影数目：",len(mov_num.unique()))

电影数目： 62423

3.一共有多少不同的电影种类

In [14]:
df_mov.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [25]:
mov_num = df_mov['genres']
temp_genres=mov_num.str.split("|").tolist()
genres=list(set([i for j in temp_genres for i in j ]))
print('电影种类数：',len(genres))

电影种类数： 20

4. 一共有多少电影没有外部链接

In [19]:
df_lin.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [23]:
lin = df_lin['imdbId']
print("没有外部链接的电影：",len(df_lin)-len(lin.unique()))

没有外部链接的电影： 0

5. 2018年一共有多少人进行过电影评分

In [21]:
df_rat.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [22]:
star_time = time.strptime("2018-01-01 00:00:00","%Y-%m-%d %H:%M:%S")
end_time = time.strptime("2019-01-01 00:00:00","%Y-%m-%d %H:%M:%S")
star_ts = int(time.mktime(star_time))
end_ts = int(time.mktime(end_time))
user2018 = df_rat.loc[(df_rat["timestamp"] < end_ts) & (df_rat["timestamp"] >= star_ts)]
user_num = user2018['timestamp']
print('2018年对电影评分的总人数：',len(user_num.unique()))

2018年对电影评分的总人数： 1192942